/********************
 *	Fonts
********************/

@font-face {
	font-family: "Inter";
	src: url("./../fonts/inter/Inter-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("./../fonts/inter/Inter-Light.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("./../fonts/inter/Inter-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("./../fonts/inter/Inter-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("./../fonts/inter/Inter-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("./../fonts/inter/Inter-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("./../fonts/inter/Inter-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("./../fonts/inter/Inter-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Libre Franklin";
	src: url("./../fonts/libre-franklin/LibreFranklin-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-display: swap;
}


/********************
*	Root, Body, HTML
********************/

:root {

	--clr-primary-400: #004e98;
	--clr-primary-500: #004484;

	--clr-neutral-100: hsl(210, 17%, 98%);
	--clr-neutral-150: hsl(210, 17%, 95%);
	--clr-neutral-200: hsl(210, 16%, 93%);
	--clr-neutral-300: hsl(210, 14%, 89%);
	--clr-neutral-400: hsl(210, 14%, 83%);
	--clr-neutral-500: hsl(210, 11%, 71%);
	--clr-neutral-600: hsl(208, 7%, 46%);
	--clr-neutral-700: hsl(210, 9%, 31%);
	--clr-neutral-800: hsl(210, 10%, 23%);
	--clr-neutral-850: hsl(210, 11%, 18%);
	--clr-neutral-900: hsl(210, 11%, 15%);

	--ff-primary: "Inter";

	--bp-xs: 380;
	--bp-sm-xs: 430;
	--bp-sm: 576;
	--bp-md: 768;
	--bp-lg: 992;
	--bp-xl: 1260;
	--bp-xxl: 1350;
}

body {
	color: var(--clr-neutral-900);
	background-color: #fff;
	overflow-x: hidden;
}

a:focus {
	outline: 0.3rem solid transparent;
}

@supports selector(:focus-visible) {
	a:focus {
		outline-color: transparent;
	}
}

/********************
*	Reset
********************/

/* codebase: http://localhost/_repository/css/reset.css */

/* codebase-merge */
*,
*::before,
*::after {
	font: inherit;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

html,
body {
	min-height: 100%;
}

html {
	font-size: 62.5%;
}

img {
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	width: 100%;
}

picture,
video,
canvas,
svg {
	display: block;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	text-wrap: pretty;
}

p {
	text-wrap: pretty;
}


a {
	color: inherit;
	text-decoration: none;
}

i {
	font-style: italic;
}

button {
	cursor: pointer;
}

form {
	width: 100%;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
form select,
form textarea {
	width: 100%;
}

select {
	appearance: none;
}

@media(prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
		scroll-padding-top: 2rem;
	}
}
/* #codebase-merge */



[x-cloak] {
	display: none !important;
}

html,
body {
	font-family: var(--ff-primary);
}

input:focus {
	outline: none;
}

/********************
*	Colors
 ********************/

/* codebase: http://localhost/_repository/css/color.css */

/* codebase-merge */
.clr-white {
	color: #fff;
}

.clr-red {
	color: red;
}

.clr-primary-400 {
	color: var(--clr-primary-400);
}

.clr-primary-500 {
	color: var(--clr-primary-500);
}

.clr-secondary-400 {
	color: var(--clr-secondary-400);
}

.clr-secondary-500 {
	color: var(--clr-secondary-500);
}

.clr-neutral-100 {
	color: var(--clr-neutral-100);
}

.clr-neutral-150 {
	color: var(--clr-neutral-150);
}

.clr-neutral-200 {
	color: var(--clr-neutral-200);
}

.clr-neutral-300 {
	color: var(--clr-neutral-300);
}

.clr-neutral-400 {
	color: var(--clr-neutral-400);
}

.clr-neutral-500 {
	color: var(--clr-neutral-500);
}

.clr-neutral-600 {
	color: var(--clr-neutral-600);
}

.clr-neutral-700 {
	color: var(--clr-neutral-700);
}

.clr-neutral-800 {
	color: var(--clr-neutral-800);
}

.clr-neutral-900 {
	color: var(--clr-neutral-900);
}

.bg-white {
	background-color: #fff;
}

.bg-red {
	background-color: red;
}

.bg-blue {
	background-color: blue;
}

.bg-primary-400 {
	background-color: var(--clr-primary-400);
}

.bg-neutral-100 {
	background-color: var(--clr-neutral-100);
}

.bg-neutral-150 {
	background-color: var(--clr-neutral-150);
}

.bg-neutral-200 {
	background-color: var(--clr-neutral-200);
}

.bg-neutral-300 {
	background-color: var(--clr-neutral-300);
}

.bg-neutral-400 {
	background-color: var(--clr-neutral-400);
}

.bg-neutral-500 {
	background-color: var(--clr-neutral-500);
}

.bg-neutral-600 {
	background-color: var(--clr-neutral-600);
}

.bg-neutral-700 {
	background-color: var(--clr-neutral-700);
}

.bg-neutral-800 {
	background-color: var(--clr-neutral-800);
}

.bg-neutral-900 {
	background-color: var(--clr-neutral-900);
}

.clr-link-400 {
	color: var(--clr-link-400);
}

.fill-primary-400 {
	fill: var(--clr-primary-400);
}

.outline-clr-neutral-150 {
	outline-color: var(--clr-neutral-150);
}

.outline-clr-neutral-300 {
	outline-color: var(--clr-neutral-300);
}
/* #codebase-merge */



/********************
 *	Container
********************/

.container {
	width: 100%;
	max-width: min(128rem, 90%);
	margin-inline: auto;
}

/********************
*	Grids
 ********************/

/* codebase: http://localhost/_repository/css/grid.css */

/* codebase-merge */
.grids {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

:where(.grids>.grid) {
	outline: 0.1rem solid transparent;
}

/* Grids 1 */

:where(.grids-1>.grid) {
	width: 100%;
}

/* Grids 2 */

:where(.grids-2>.grid) {
	width: 50%;
}

:where(.grids-2.gap-1>.grid) {
	width: calc(50% - 0.5rem);
}

:where(.grids-2.gap-2>.grid) {
	width: calc(50% - 1rem);
}

:where(.grids-2.gap-3>.grid) {
	width: calc(50% - 1.6rem);
}

:where(.grids-2.gap-5>.grid) {
	width: calc(50% - 2.56rem);
}

/* Grids 3 */

:where(.grids-3>.grid) {
	width: 33.33%;
}

:where(.grids-3.gap-3>.grid) {
	width: calc(33.33% - 2.1rem);
}

:where(.grids-3.gap-2>.grid) {
	width: calc(33.33% - 1.34rem);
}

:where(.grids-3.gap-1>.grid) {
	width: calc(33.33% - 0.67rem);
}

/* Grids 4 */

:where(.grids-4>.grid) {
	width: 25%;
}

:where(.grids-4.gap-2>.grid) {
	width: calc(25% - 1.5rem);
}

/* Girds 5 */

:where(.grids-5>.grid) {
	width: 20%;
}

:where(.grids-5.gap-2>.grid) {
	width: calc(20% - 1.6rem);
}

:where(.grids-5.gap-3>.grid) {
	width: calc(20% - 2.4rem);
}

:where(.grids-5.gap-4>.grid) {
	width: calc(20% - 3.2rem);
}

/* Grids 1/3 */

:where(.grids-1\:3.gap-2>.grid:first-of-type) {
	width: calc(33.33% - 1rem);
}

:where(.grids-1\:3.gap-2>.grid:last-of-type) {
	width: calc(66.66% - 1rem);
}


@media(max-width: 1260px) {
	.grids.gap-3.grids-2-xl>.grid {
		width: calc(50% - 1.5rem);
	}

	.grids.grids-3-xl.gap-2>.grid {
		width: calc(33.33% - 1.34rem);
	}
}

@media(max-width: 992px) {
	.grids.grids-1-lg>.grid {
		width: 100% !important;
	}

	.grids.grids-2-lg>.grid {
		width: calc(50%);
	}

	.grids.grids-3-lg.gap-4-lg>.grid {
		width: calc(33.33% - 2.67rem);
	}

}

@media (max-width: 768px) {

	.grids.gap-3.grids-1-md>.grid {
		width: 100%;
	}

	.grids-2.gap-1-md>.grid {
		width: calc(50% - 0.5rem);
	}

	.grids.grids-2-md.gap-1-md {
		gap: 1rem;
	}

	.grids.grids-2-md.gap-1-md>.grid {
		width: calc(50% - 0.5rem);
	}

	.grids.grids-1-md>.grid,
	.grids.grids-1-md.gap-1-md>.grid {
		width: 100%;
	}

}

@media(max-width: 576px) {
	.grids.grids-2-sm.gap-4-sm>.grid {
		width: calc(50% - 2rem);
	}
}
/* #codebase-merge */



.account-grids {
	height: 100vh;
}

.account-grids>.grid:not(:first-of-type) {
	overflow: hidden;
	height: 100vh;
	background-color: var(--clr-neutral-200);
}

.account-grids>.grid:not(:first-of-type) .bg-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.account-grids>.grid:first-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
}

.account-grid-inner {
	width: 100%;
	max-width: 48rem;
}

@media(max-width:992px) {
	.account-grid-inner {
		padding: 0 2rem;
	}
}


/********************
*	Form
********************/

/* codebase: http://localhost/_repository/css/form.css */

/* codebase-merge */
label.required .asterisk {
	color: red;
}

form>.form-group:not(:last-of-type) {
	margin-bottom: 2rem;
}

form .form-group .form-group-columns {
	display: flex;
	gap: 2rem;
}

.form-group-columns-2 .column {
	width: calc(50% - 1rem);
}

form .form-group-addon {
	position: relative;
}

form .form-group-addon .icon {
	fill: var(--clr-neutral-600);
	width: 1.8rem;
	height: 1.8rem;
}

form .form-group-addon-left .icon {
	position: absolute;
	top: 50%;
	left: 2rem;
	transform: translateY(-50%);
}

form .form-group-addon-left .input-style-1 {
	padding-left: 5.5rem;
}

form .form-group-addon-right .icon {
	position: absolute;
	top: 50%;
	right: 2rem;
	transform: translateY(-50%);
}

form .form-group-addon-right .input-style-1 {
	padding-right: 5.5rem;
}

form .form-group-suggestions {
	list-style: none;
	display: none;
	background-color: #fff;
	width: 100%;
	max-height: 20rem;
	border: 0.1rem solid var(--clr-neutral-300);
	border-radius: 0.8rem;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	transform: translateY(calc(100% + 1rem));
	overflow-y: auto;
}

form .form-group-suggestions.active {
	display: block;
}

form .form-group-suggestions>li a {
	font-size: 1.6rem;
	display: flex;
	align-items: center;
	gap: 0.6rem;
	padding: 1.4rem 1.2rem;
}

form .form-group-suggestions>li:not(:last-of-type) a {
	border-bottom: 0.1rem solid var(--clr-neutral-300);
}

form .form-group-suggestions>li a b {
	font-weight: 500;
}

form .form-group-suggestions>li a .icon {
	fill: var(--clr-neeutral-900);
	width: 1.5rem;
	height: 1.5rem;
}

.input-style-label-1 {
	font-size: 1.4rem;
	font-weight: 500;
	display: block;
	margin-bottom: 1rem;
}

.input-style-1 {
	background-color: #fff;
	width: 100%;
	padding: 1.5rem;
	border: 0.1rem solid var(--clr-neutral-300);
	border-radius: 0.8rem;
	height: 5.5rem;
}

.input-style-1-error {
	font-size: 1.4rem;
	color: red;
	margin-top: 0.4rem;
}

.radio-container {
	font-size: 1.6rem;
	display: block;
	position: relative;
	padding-left: 4rem;
	margin-bottom: 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.radio-container .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 2rem;
	width: 2rem;
	background-color: #eee;
	border-radius: 50%;
	transform: translateY(0.2rem);
}

.radio-container:hover input~.checkmark {
	background-color: #eee;
}

.radio-container input:checked~.checkmark {
	background-color: #2196F3;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.radio-container input:checked~.checkmark:after {
	display: block;
}

.radio-container .checkmark:after {
	top: 0.55rem;
	left: 0.55rem;
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 50%;
	background: white;
}

.checkbox-container {
	font-size: 1.6rem;
	display: block;
	padding-left: 3.2rem;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkbox-container .checkmark {
	background-color: #eee;
	width: 2rem;
	height: 2rem;
	border-radius: 0.2rem;
	border: 0.1rem solid #eee;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(0.15rem);
}

.checkbox-container input:checked~.checkmark {
	background-color: #2196F3;
}

.checkbox-container .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox-container input:checked~.checkmark:after {
	display: block;
}

.checkbox-container .checkmark:after {
	left: 0.68rem;
	top: 0.15rem;
	width: 0.6rem;
	height: 1.2rem;
	border: solid white;
	border-width: 0 0.3rem 0.3rem 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.select-list {
	list-style: none;
}

.select-list li {
	padding: 1.5rem 0;
}

.select-list li:not(:last-of-type) {
	border-bottom: 0.1rem solid #eee;
}

/* Drop Down Filters */


.drop-down-filters {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.drop-down-filter {
	position: relative;
}

.drop-down-filter:not(.init-true) {
	background-color: var(--clr-neutral-300);
	border-radius: 0.8rem;
	width: 10rem;
	height: 4rem;
}

.drop-down-filter button {
	font-size: 1.5rem;
	font-weight: 400;
	background-color: var(--clr-neutral-300);
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem 1.4rem;
	border: 0.1rem solid var(--clr-neutral-300);
	border-radius: 0.8rem;
	position: relative;
}

.drop-down-filter button:hover,
.drop-down-filter button.selected {
	box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.drop-down-filter button.selected {
	color: #fff;
	background-color: var(--clr-neutral-600);
}

.drop-down-filter button .caret {
	width: 0.8rem;
}

.drop-down-filter button .cross {
	width: 1rem;
}

.drop-down-filter ul {
	font-size: 1.5rem;
	font-weight: 400;
	list-style: none;
	display: none;
	background-color: #fff;
	min-width: 20rem;
	border: 0.1rem solid var(--clr-neutral-300);
	border-radius: 0.8rem;
	position: absolute;
	bottom: 0;
	transform: translateY(calc(100% + 1rem));
	overflow: hidden;
	z-index: 10;
}

.drop-down-filter ul.active {
	display: block;
}

.drop-down-filter ul>li {
	padding: 1.2rem 1.4rem;
	cursor: pointer;
}

.drop-down-filter ul>li:hover {
	background-color: var(--clr-neutral-200);
}
/* #codebase-merge */


.input-style-1 {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--clr-neutral-850);
	height: 5.4rem;
	border-color: var(--clr-neutral-500);
	border-radius: .4rem;
}

.checkbox-container .checkmark {
	background-color: transparent;
	border-color: var(--clr-neutral-500);
	width: 1.8rem;
	height: 1.8rem;
}

.checkbox-container input:checked~.checkmark {
	background-color: var(--clr-primary-400);
	border-color: var(--clr-primary-400);
}

.checkbox-container .checkmark::after {
	left: 0.55rem;
	width: 0.6rem;
	height: 1.1rem;
	border-width: 0 0.22rem 0.22rem 0;
}

.custom-select-container {
	position: relative;
}

.custom-select-container::before {
	content: url(./../assets/select-chevron-dark.png);
	display: block;
	position: absolute;
	top: calc(50% + 0.2rem);
	right: 1rem;
	pointer-events: none;
	transform: translateY(-50%);
}

/********************
*	Button
********************/

.button {
	font-size: 1.6rem;
	font-weight: 600;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: var(--clr-neutral-900);
	background-color: var(--clr-neutral-150);
	border: 0.1rem solid transparent;
	border-radius: 0.4rem;
	outline: 0.3rem solid transparent;
	padding: 1.2rem 1.8rem;
	position: relative;
	cursor: pointer;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: all 250ms;
}

.button[disabled],
.button[disabled]:hover {
	color: var(--clr-neutral-500);
	background-color: var(--clr-neutral-200);
	box-shadow: none;
}

.button:hover {
	background-color: var(--clr-neutral-200);
}

.button-ghost,
.button-ghost:hover {
	background-color: transparent;
	padding: 0;
}

.button-black {
	color: #fff;
	background-color: var(--clr-neutral-800);
}

.button-black-border {
	color: var(--clr-neutral-800);
	background-color: transparent;
	border-color: var(--clr-neutral-800);
}

.button-black-border:hover {
	color: #fff;
	background-color: var(--clr-neutral-800);
}

.button-gray-border {
	color: var(--clr-neutral-600);
	background-color: transparent;
	border-color: var(--clr-neutral-600);
}

.button-gray-border:hover {
	color: #fff;
	background-color: var(--clr-neutral-800);
}

.button-gray-border-2,
.button-gray-border-2:hover {
	color: var(--clr-neutral-850);
	background-color: transparent;
	border-color: var(--clr-neutral-600);
}

.button-primary {
	color: #fff;
	background-color: var(--clr-primary-400);
}

.button-primary:hover {
	background-color: var(--clr-primary-500);
}

.button-primary .icon {
	fill: #fff;
}

.button-primary-border {
	color: var(--clr-primary-400);
	background-color: transparent;
	border-color: var(--clr-primary-400);
}

.button-primary-border:hover {
	color: #fff;
	background-color: var(--clr-primary-400);
}

.button-primary-ghost,
.button-primary-ghost:hover,
.button-primary-ghost:active {
	color: var(--clr-primary-400);
	background-color: transparent;
	padding: 0;
}


.button-sm-md {
	padding: 1rem 1.6rem;
}

.button-sm {
	font-size: 1.3rem;
	padding: 0.6rem 1.6rem;
}

.button-lg {
	font-size: 1.6rem;
	padding: 1.2rem 2.4rem;
}

.button-long-2 {
	min-width: 9rem;
}

.button-long {
	min-width: 30rem;
}

.button.has-icon {
	gap: 1rem;
}

.button.has-icon .icon {
	width: 1.8rem;
	height: 1.8rem;
}

.button-block {
	width: 100%;
}

.button:focus {
	outline-color: var(--clr-golden-fizz);
}

@supports selector(:focus-visible) {

	button:focus,
	.button:focus {
		outline-color: transparent;
	}
}

.button.has-icon {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.button .icon {
	fill: var(--clr-neutral-850);
	width: 1.5rem;
	height: 1.5rem;
}

.button.button-sm .icon {
	width: 1.2rem;
	height: 1.2rem;
}

.button[disabled] {
	cursor: not-allowed;
}

.button.loading .button-text {
	opacity: 0;
}

.button .loader {
	display: none;
}

.button.loading .loader {
	display: inline-block;
	--clr-dots: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
	width: 4rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/********************
*	Utilities
********************/

/* codebase: http://localhost/_repository/css/utility.css */

/* codebase-merge */
.fs-1-4 {
	font-size: 1.4rem;
}

.fs-1-5 {
	font-size: 1.5rem;
}

.fs-1-6 {
	font-size: 1.6rem;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.line-height-140 {
	line-height: 140%;
}

.text-clamp {
	display: -webkit-box !important;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}

.text-clamp-1 {
	-webkit-line-clamp: 1;
}

.text-clamp-2 {
	-webkit-line-clamp: 2;
}

.text-align-center {
	text-align: center;
}

.underline {
	text-decoration: underline;
}

.hover-underline:hover {
	text-decoration: underline;
}

.no-underline {
	text-decoration: none;
}

.color-white {
	color: #fff;
}

.bg-neutral-900 {
	background-color: var(--clr-neutral-900);
}

.d-block {
	display: block;
}

.d-flex {
	display: flex;
}

.flex-grow {
	flex-grow: 1;
}

:where(.flex-direction-column) {
	flex-direction: column;
}

:where(.flex-direction-row) {
	flex-direction: row;
}

:where(.justify-content-center) {
	justify-content: center;
}

:where(.justify-content-space-between) {
	justify-content: space-between;
}

:where(.justify-content-end) {
	justify-content: end;
}

.x-center-rows {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.align-items-center {
	align-items: center;
}

.flex-column-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.flex-row-reverse {
	display: flex;
	flex-direction: row-reverse;
}

:where(.gap-1) {
	gap: 1rem;
}

:where(.gap-2) {
	gap: 2rem;
}

:where(.gap-3) {
	gap: 3rem;
}

:where(.gap-4) {
	gap: 4rem;
}

:where(.gap-5) {
	gap: 5rem;
}

.width-100 {
	width: 100%;
}

.max-width-33 {
	max-width: 33rem;
}

.max-width-40 {
	max-width: 40rem;
}

.max-width-60 {
	max-width: 60rem;
}

.max-width-76-8 {
	max-width: 76.8rem;
}

.max-width-100 {
	max-width: 100%;
}

.height-100 {
	height: 100%;
}

.no-margin,
.margin-0 {
	margin: 0;
}

.margin-top-auto {
	margin-top: auto;
}

.margin-top-0-5 {
	margin-top: 0.5rem;
}

.margin-top-1 {
	margin-top: 1rem;
}

.margin-top-1-5 {
	margin-top: 1.5rem;
}

.margin-top-2 {
	margin-top: 2rem;
}

.margin-top-3 {
	margin-top: 3rem;
}

.margin-top-4 {
	margin-top: 4rem;
}

.margin-top-5 {
	margin-top: 5rem;
}

.margin-top-6 {
	margin-top: 6rem;
}

.margin-bottom-1 {
	margin-bottom: 1rem;
}

.margin-bottom-2 {
	margin-bottom: 2rem;
}

.margin-bottom-3 {
	margin-bottom: 3rem;
}

.margin-bottom-4 {
	margin-bottom: 4rem;
}

.margin-bottom-5 {
	margin-bottom: 5rem;
}

.margin-left-auto {
	margin-left: auto;
}

.padding-0 {
	padding: 0;
}

.padding-1 {
	padding: 1rem;
}

.padding-top-2 {
	padding-top: 2rem;
}

.padding-bottom-0 {
	padding-bottom: 0;
}

.padding-bottom-2 {
	padding-bottom: 2rem;
}

.padding-bottom-3 {
	padding-bottom: 3rem;
}

.padding-left-2 {
	padding-left: 2rem;
}

.padding-x-2 {
	padding-left: 2rem;
	padding-right: 2rem;
}

.border-right {
	border-right: 0.1rem solid var(--clr-neutral-300);
}

.border-clr-200 {
	border-color: var(--clr-neutral-200);
}

.border-radius-2 {
	border-radius: 2rem;
}

.border-radius-round {
	border-radius: 10000vmax;
}

.overflow-hidden {
	overflow: hidden;
}

.position-relative {
	position: relative;
}

.visually-hidden,
.visually-hidden-sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.hide {
	display: none;
}

.show {
	display: none;
}

.show-on-md {
	display: none;
}

.show-on-lg {
	display: none;
}

.show-on-xl {
	display: none;
}

:where(.break) {
	display: block;
	width: 100%;
}

:where(.break-sm) {
	display: block;
	width: 100%;
}

.shadow {
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.shadow-sm {
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.shadow-md {
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.shadow-lg {
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.shadow-xl {
	box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.list-style-none {
	list-style: none;
}

.no-shadow {
	box-shadow: none;
}

.separator-with-text {
	--text-width: 5rem;
	text-align: center;
	font-weight: 400;
	color: var(--clr-neutral-600);
	display: block;
	width: 100%;
	position: relative;
}

.separator-with-text::before {
	content: "";
	display: block;
	background-color: var(--clr-neutral-300);
	width: calc(50% - calc(var(--text-width) / 2));
	height: 0.1rem;
	position: absolute;
	top: 50%;
	left: 0;
}

.separator-with-text::after {
	content: "";
	display: block;
	background-color: var(--clr-neutral-300);
	width: calc(50% - calc(var(--text-width) / 2));
	height: 0.1rem;
	position: absolute;
	top: 50%;
	right: 0;
}

.overlay {
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
}

.overlay.active {
	display: block;
}

.cursor-pointer {
	cursor: pointer;
}

.thin-scroll-bar {
	scrollbar-width: 5px;
	-ms-overflow-style: none;
}

.thin-scroll-bar::-webkit-scrollbar {
	width: 5px;
}

.thin-scroll-bar::-webkit-scrollbar-track {
	background-color: #eee;
}

.thin-scroll-bar::-webkit-scrollbar-thumb {
	background-color: #adadad;
}

@media (max-width: 1260px) {

	.hide-on-xl {
		display: none;
	}

	.show-on-xl {
		display: block;
	}
}

@media(max-width: 992px) {

	.hide-on-lg {
		display: none;
	}

	.show-on-lg {
		display: block;
	}

	.max-width-100-lg {
		max-width: 100%;
	}

	.no-max-with-on-lg {
		max-width: unset;
	}

	.gap-1-lg {
		gap: 1rem;
	}

	.gap-2-lg {
		gap: 2rem;
	}

	.x-center-rows-max-width-lg {
		--max-width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.x-center-rows-max-width-lg>* {
		width: 100%;
		max-width: var(--max-width);
	}

	.flex-column-reverse-lg {
		flex-direction: column-reverse;
	}

}

@media(max-width: 768px) {

	.hide-on-md {
		display: none;
	}

	.show-on-md {
		display: block;
	}

	.gap-1-md {
		gap: 1rem;
	}

	.gap-2-md {
		gap: 2rem;
	}

	.gap-3-md {
		gap: 3rem;
	}
}

@media(max-width: 430px) {
	.hide-on-sm-xs {
		display: none;
	}
}
/* #codebase-merge */


.separator-with-text {
	font-size: 1.4rem;
}

/********************
*	Typography
********************/

.heading-xl {
	font-size: 6.2rem;
	font-weight: 600;
	line-height: 1.2;
}

.heading-lg {
	font-size: 3.8rem;
	font-weight: 700;
	line-height: 1.3;
}

.heading-md {
	font-size: 3.3rem;
	font-weight: 700;
	line-height: 1.3;
}

.heading-sm {
	font-size: 2.4rem;
	font-weight: 700;
}

.heading-xs-sm {
	font-size: 2.1rem;
	font-weight: 700;
}

.heading-xs {
	font-size: 1.8rem;
	font-weight: 600;
}

.heading-xss {
	font-size: 1.7rem;
	font-weight: 600;
}

.heading-xsss {
	font-size: 1.6rem;
	font-weight: 600;
}

.text {
	line-height: 1.6;
}

.text-md {
	font-size: 1.8rem;
	line-height: 1.65;
}

.text-sm-md {
	font-size: 1.7rem;
}

.text-sm {
	font-size: 1.6rem;
}

.text-xs-sm {
	font-size: 1.5rem;
}

.text-xs {
	font-size: 1.4rem;
}

.text-xss {
	font-size: 1.3rem;
}

@media (max-width: 992px) {

	.heading-xl {
		font-size: 5.6rem;
	}

	.heading-lg {
		font-size: 3.2rem;
	}

	.heading-md {
		font-size: 2.8rem;
	}

	.heading-xs {
		font-size: 1.6rem;
	}

}

@media (max-width: 768px) {

	.heading-xl {
		font-size: 4.2rem;
	}

	.heading-lg {
		font-size: 2.8rem;
		line-height: 1.4;
	}

	.heading-md {
		font-size: 2.8rem;
		line-height: 1.4;
	}

	.heading-sm {
		font-size: 2rem;
	}

	.text-md {
		font-size: 1.6rem;
	}

	.text-sm {
		font-size: 1.5rem;
	}

	.text-sm-md {
		font-size: 1.6rem;
	}

	.account-grids {
		height: auto;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

}

@media (max-width: 576px) {

	.heading-xl {
		font-size: 3.2rem;
	}

	.heading-md {
		font-size: 2.4rem;
	}

	.text-md {
		font-size: 1.5rem;
	}

	.button {
		font-size: 1.5rem;
	}

	.img-logo {
		width: 9rem;
	}
}

@media (max-width: 380px) {
	.heading-xl {
		font-size: 3.2rem;
	}

	.heading-lg {
		font-size: 2.2rem;
	}

	.heading-md {
		font-size: 2rem;
	}

	.button {
		font-size: 1.5rem;
		padding: 1rem 2rem;
	}
}


/********************
*	Misc.
********************/

.img-logo {
	width: 10rem;
}